<% const navPath = funcNavPath(relPath, id) %>
<!-- header -->
<header class="header" id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand my-0 navbar_head" href="<%= navPath %>#wrapper"><%= config.commons.sitename %></a>
        </div>
    </nav>
</header>
<!-- /header -->