@charset "utf-8";

// ============================================== *
//                                                *
//  共通                                          *
//                                                *
// ============================================= */
@import "common";

// ============================================= *
//                                               *
//  スタイルガイド                                 *
//                                               *
// ============================================= */
@import "util/sg/sg_index";

// ============================================== *
//                                                *
//  メイン                                         *
//                                                *
// ============================================= */
.gantt {
    &_container {
        width: 80%;
        margin: 0 auto;
        overflow: auto;
        border: 1px solid $color;
        background-color: $bg-color;
        .popup-wrapper {
            color: $bg-color;
        }
    }
    .bar {
        fill: $accent-color;
        &-progress {
            fill: $main-color;
        }
    }
}